@import "normalize.css";

body {
  font-family: sans-serif;
}

.btn-default {
  display: inline-block;
  background-color: #78de1f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
}

.btn-default:hover {
  background-color: #66c41a;
}

.text-danger-default {
  font-weight: 600;
  color: #dc3545;
  font-size: small;
}

#rememberMe {
  accent-color: #78de1f;
}
